div {
/* 	 border: 3px solid red;  */
	 font-family:Hiragino Sans GB,华文细黑,STHeiti,微软雅黑,Microsoft YaHei,SimHei,
	Helvetica Neue,Helvetica,Arial,sans-serif;
}

#loginDiv{
    font-weight:bold;
    font-size: 20px;
    color: #FFFFFF;
    font-family:Comic Sans MS;
     margin-right: 40px; 
    margin-top: 10px;
}
#signUpDiv{
    font-weight:bold;
    font-size: 20px;
    color: #FFFFFF;
    font-family:Comic Sans MS;
     margin-right: 40px; 
    margin-top: 10px;
}
*/


p{font-size:24px;}
h1{
	
	font-size:48px;
	text-align:center;
}
h4{
	font-size:25px;
	color:blue;
	
}


li a{
	font-size:15px;
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}
#header{
  background-color:#6999D1;
  color:#6999D1;
}
#logImg{
    margin-bottom: 5px;
}
#top_menu{
  text-align:right;
}
#content{
	/*border:2px solid red;*/
	font-family:Comic Sans MS, 微軟正黑體;
}
#searchBar{
	margin-top:70px;
  margin-left:auto;
	margin-right:auto;
  margin-bottom:30px;
}

#viewLabel{
  margin-top:50px;
  width:140px;
  height:50px;
  border-radius:10px;
  background-color:#ffa500;
  color:white ;
  font-size:28px;
  text-align:center;"
}

#viewDes{
  margin-top:30px; 
  width:520px; 
  height:550px;
  float:left;
}
#viewCard{
  margin-left:20px; 
  border:1px #c0c0c0 solid; 
  width:472px; 
  height:520px;
  float:left;
}
#viewPic{
  width:470px; 
  height:300px;
}
#viewContent{
  margin-top:30px;
  margin-left:20px; 
  font-size:20px;
}
#viewAct{
  margin-top:10px; 
  float:left; 
  color:#a9a9a9;
}
#viewCollect{
  margin-top:20px;
  margin-left:270px;
}
#viewCollectImg{
  margin-top:10px; 
  color:#a9a9a9;
}

