/* div {
	border: 1px dashed red;
	font-family:Comic Sans MS,微軟正黑體;
} */


#loginDiv {
    font-weight: bold;
    font-size: 20px;
    margin-left: 110px;
    margin-top: 10px;
}
#content{
  font-family:Comic Sans MS,微軟正黑體;
}
a:hover{
	font-size:25px;
}
h1{
  font-size: 28px;
  color:#4169e1;
}
ul li{
	border-right:2px solid #ccc;
}

ol li{
	font-weight:bold;
    font-size: 20px;
	font-family:Comic Sans MS,微軟正黑體;
}
li a{
	font-weight:bold;
    font-size: 20px;
    color: #FFFFFF;
    font-family:Comic Sans MS,微軟正黑體;
    /* margin-right: 40px; */
    margin-top: 10px;
}
table{
  padding:100px 100px 100px 100px;
}
th{
	color:white;
	font-size:25px;
}
tr{
  height:60px;

}
td {
  
  padding:15px;
	font-size:15px;
}

#logImg{
    margin-bottom: 5px;
}
#footer{
    background-color:#666666;
	color:white;
    height: 150px;
    width: 100%;
	text-align:center;
	
}
#searchList{
	margin-top:50px;	
}

#titleDes{
      font-family:"微軟正黑體";
    }
    #viewDetail{
    float:left;
    height:800px;
    }
    
    #viewDes{
    margin-left:40px;
    height:800px;
    font-size:15px;
    }
    
    #viewImg{
    float:left; 
    background-color:pink; 
    width:1200px; 
    height:900px; 
    margin-top:20px;
    margin-left:40px;
    }
    
    .view{
    width:550px;
    height:380px;
    border:solid 1px black;
    float:left;
    margin-left:30px;
    margin-top:30px;
    }
    
    .viewpic{
    width:550px;
    height:380px;
    }
