/* div {
	border: 1px dashed red;
	font-family:Comic Sans MS,微軟正黑體;
} */

#loginDiv {
    font-weight: bold;
    font-size: 20px;
    margin-left: 110px;
    margin-top: 10px;
}
#title{
	font-size:30px;
	font-family:Century Gothic,微軟正黑體;
	
}

#blank {
	height:200px;
}

#banner{
	color:white;
	background-color: #87ADDA;
	font-family:Comic Sans MS,微軟正黑體;
	font-size:14px;
}
tr {
	border:1px solid #D8D8D8;
	text-align:center;
	font-family:Century Gothic,微軟正黑體;
	font-size:16px;
	/* height:30px; */
	
}

th {
	text-align:center;
	color:white;
	font-family:Century Gothic,微軟正黑體;
	font-size:16px;
	background-color: #0066FF;
	height:40px;
}
input{
	margin-top:16px;
}

#footer{
    background-color:#c0c0c0;
	font-family:Century Gothic,微軟正黑體;
	color:white;
    height: 150px;
    width: 100%;
	text-align:center;
	
}

