
div {
/* 	border: 1px dashed red; */
	font-family:Hiragino Sans GB,华文细黑,STHeiti,微软雅黑,Microsoft YaHei,SimHei,
	Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* topBar */
#topBar {
	background-color:#6999D1;
	height:100px;
	
}

li a {
	font-size:15px;
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}
/* topBar */


/* .managementBg{ */
/* 	display:none; */
/* 	position:fixed; */
/* 	width:100%; */
/* 	height:100%; */
/* 	background:#000; */
/* 	z-index:2; */
/* 	top:0; */
/* 	left:0; */
/* 	opacity:0.7; */
/* } */
/* .managementContent{ */
/* 	display:none; */
/* 	width:300px; */
/* 	height:280px; */
/* 	position:fixed; */
/* 	top:50%; */
/* 	margin-top:-150px; */
/* 	background:#fff; */
/* 	z-index:3; */
/* 	left:50%; */
/* 	margin-left:-165px; */
/* 	border-radius:3px; */
/* } */



ol li {
	font-weight: bold;
	font-size: 20px;
	/* 	font-family:Comic Sans MS,���雓�嚙踝蕭謅蕭�����蕭謖嚙踝蕭��蕭�嚙踐�蕭豲��嚙踝����雓Ｗ�揭嚙踐飾嚙踝����蕭����雓�嚙踝蕭謢察���蕭蹎刻嚙踐揭嚙踝蕭謕蕭��嚙踝蕭謕蕭豲��嚙踝����蕭��; */
}



#cal tr td {
	background-color:#ffffe5;
	
}

thead {
	/* 	background-color:#6999D1; */
	background-color: grey;
	/* 	font-family:Comic Sans MS,���嚙踝���蕭��嚙踐����蕭�; */
	font-size:20px;
}

th {
	color: white;
	font-size: 20px;
	text-align: center;
}

td {
	font-size: 20px;
	
}









/* footer */
#footer01 {
	text-align: center;
	background-color: #2C3539;
	color: #D0D3D4;
}

#footer02 {
	font-size: 13px;
	background-color: #2C3539;
	color: #FFFFFF;
}


