

div {
/* 	border: 1px dashed red; */
	font-family:Century Gothic,敺株�迤暺��;
}

#loginDiv {
	font-weight: bold;
	font-size: 20px;
	margin-left: 110px;
	margin-top: 10px;
}

#loginTable {
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid silver;
	width: 80%;
}

#loginTable td {
	text-align: center;
	padding-top: 50px;
}

/* #loginSubmit { */
/* 	width: 60%; */
/* 	background-color: #6999D1; */
/* 	color: white; */
/* } */

/* #loginSubmit:hover { */
/* 	background-color: #6999F0; */
/* } */

/*----------order--*/
.table-expandable-arrow {
	background: transparent url(../images/arrows.png) no-repeat scroll 0px
		-16px;
	width: 16px;
	height: 16px;
	display: block;
}
/*----------order--*/

/*--------------------- hosetel */
#hostelName {
	text-align: center;
	/* 	border:1px solid blue; */
}

#hostel_dealerName {
	font-size: 40px;
	/* 	font-family:; */
}

#hostelName {
	font-size: 50px;
	margin-left: 50px;
}

#hostelAddress {
	font-size: 35px;
	/* 	font-family:嚙踝蕭謕蕭豲���蕭賹蕭謕蕭��嚙踐�蕭����揖嚙踝蕭謕蕭豲蕭��嚙踐揭; */
}

#cautions {
	/* 	border:1px solid blue; */
	text-align: center;
	font-size: 20px;
}

#facility {
	/* 	border:1px solid blue; */
	text-align: center;
	font-size: 20px;
}

#roomTypePic {
	/* 	border:1px solid blue; */
	width: 20%;
	height: 10%;
}
/*------------------------- hostel */

/*------------------------- modify table */
/* .colName{ */
/* 	margin-top:10px; */
/* } */
#modifyTable {
	text-align: center;
	font-size: 20px;
}

#hostelPage_roomType {
	text-align: center;
	margin-top: 10px;
	border: 1px solid silver;
}

#hostelPage_roomType tr>td {
	text-align: center;
}

.roomTypeAdd_Bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0.7;
}

.roomTypeAdd_Content {
	display: none;
	width: 450px;
	height: 450px;
	position: fixed;
	top: 30%;
	margin-top: -150px;
	background: #fff;
	z-index: 3;
	left: 50%;
	margin-left: -165px;
	border-radius: 3px;
	overflow: auto;
}

#roomType_modify {
	width: 100%;
	/* 	height:150px; */
	text-align: center;
	/* 	line-height:150px; */
	font-size: 30px;
}

/*------------------------- modify table */

ol li {
	font-weight: bold;
	font-size: 20px;
	/* 	font-family:Comic Sans MS,嚙踝蕭謕蕭豲��嚙踝����雓姿�嚙踐嚙踐嚙踝蕭謕蕭��雓����嚙踝蕭��嚙踐���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����ˇ����蕭嚙踐�蕭��蕭豲嚙踝�蕭嚙踐�蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭謕蕭豲頩�������雓�嚙踝蕭�謒��雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�; */
}

li a {
	font-weight: bold;
	font-size: 15px;
	color: #FFFFFF;
	margin-top: 10px;
    display: block;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}




#cal tr td {
	background-color: #ffffe5;
	width: 125px;
	height: 125px;
}

thead {
	/* 	background-color:#6999D1; */
	background-color: grey;
	/* 	font-family:Comic Sans MS,嚙踝蕭謕蕭豲���蕭賹蕭謕蕭��嚙踐�蕭����揖嚙踝蕭謕蕭豲蕭��嚙踐揭; */
	font-size: 20px;
}

th {
	color: white;
	font-size: 20px;
	text-align: center;
}

td {
	font-size: 20px;
	/* 	font-family:嚙踝蕭謕蕭���蕭嚙踐�蕭�����雓�嚙踝蕭謢察��嚙踐�嚙踝蕭謕蕭��嚙踝�蕭�������雓�鞊莎�揭; */
}

#btList button {
	margin-top: 60px;
	margin-left: 20px;
	float: right;
}

#btAccept {
	width: 50px;
	height: 50px;
	margin: 20px;
}

#btRefuse {
	width: 50px;
	height: 50px;
}

pre {
	font-size: 20px;
	/* 	font-family:Comic Sans MS,嚙踝蕭謕蕭豲��嚙踝����雓姿�嚙踐嚙踐嚙踝蕭謕蕭��雓����嚙踝蕭��嚙踐���蕭謖鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踐�蕭豲��撥嚙踐����ˇ����蕭嚙踐�蕭��蕭豲嚙踝�蕭嚙踐�蕭豲��嚙踝����雓Ｗ�揭嚙踝蕭謕蕭豲頩�������雓�嚙踝蕭�謒��雓�鞊莎�揭嚙踝蕭�貔��蕭�豱佗蕭嚙踝�蕭��嚙踐�蕭�; */
}

#logImg {
	margin-bottom: 5px;
}

#footer {
	background-color: #666666;
	color: white;
	height: 150px;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

#searchList {
	margin-top: 50px;
}

/* ---------------------擐��--------------------- */
#loginbox {
	width:500px;
	heitht:400px;
	background:rgba(0%,0%,0%,0.1);
}
/*��*/

#topBar{
	background-color:#6999D1;
	height:120px;
	
}

.registered {
	font-size: 25px;
	font-weight: 700;
	color: #FFFFFF;
	text-decoration:none;
	float:right;
	margin-top:25px;
	margin-right:25px;
}

.registered:hover {
	font-weight: 700;
	/* 	width:60px; */
	/* 	heitht:20px; */
	border: 2px solid white;
	/* 	padding:2px 7px 2px 12px; */
}

.login {
	font-size: 25px;
	color: #FFFFFF;
	font-weight: 700;
	text-decoration:none;
	float:right;
	margin-top:25px;
	margin-right:25px;
}

.login:hover {
	font-weight: 700;
	/* 	width:60px; */
	/* 	height:20px; */
	border: 2px solid white;
	/* 	padding:2px 5px 2px 12px; */
}

/*---------------------擐��-���ar---------------------*/
#location {
	font-size: 15px;
	/* 	font-family:��嚙踐�縣��嚙踝蕭; */
	width: 380px;
	height: 44px;
	color: #c0c0c0;
}

#checkin {
	font-size: 15px;
	width: 151px;
	height: 44px;
	color: #565a5c;
}

#checkout {
	font-size: 15px;
	width: 151px;
	height: 44px;
	color: #565a5c;
}

#guests {
	width: 130px;
	height: 44px;
}

#search {
	font-size: 15px;
	width: 88px;
	height: 44px;
}

#searchbox {
	width: 100%;
	height: 104px;
	margin-top: -104px;
	/* 	margin-bottom:104px; */
	background: rgba(0%, 0%, 0%, 0.6);
}

#searchbox_in {
	text-align: center;
}

#slogn {
	font-size: 37px;
	line-height: 1.1;
	color: #565a5c;
	/* 	font-family:��嚙踐�縣��嚙踝蕭; */
}


/* footer */
#footer01 {
	text-align: center;
	background-color: #2C3539;
	color: #D0D3D4;
}

#footer02 {
	font-size: 13px;
	background-color: #2C3539;
	color: #FFFFFF;
}