<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ZA105G3_0302</display-name>
  <welcome-file-list>
    <welcome-file>HomePage.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/ZA105G3</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
  
  	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.page.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/loginServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DealerServlet</servlet-name>
		<servlet-class>com.dealer.controller.DealerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DealerServlet</servlet-name>
		<url-pattern>/dealer/dealer.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HostelServlet</servlet-name>
		<servlet-class>com.hostel.controller.HostelServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HostelServlet</servlet-name>
		<url-pattern>/hostel/hostel.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HostelModifyServlet</servlet-name>
		<servlet-class>com.page.controller.HostelModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HostelModifyServlet</servlet-name>
		<url-pattern>/hostelModify.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RoomTypeServlet</servlet-name>
		<servlet-class>com.roomType.controller.RoomTypeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoomTypeServlet</servlet-name>
		<url-pattern>/roomType/roomType.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RoomTypeModifyServlet</servlet-name>
		<servlet-class>com.page.controller.RoomTypeModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RoomTypeModifyServlet</servlet-name>
		<url-pattern>/roomType_modify.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CalendarServlet</servlet-name>
		<servlet-class>com.page.controller.CalendarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalendarServlet</servlet-name>
		<url-pattern>/cal.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckServlet</servlet-name>
		<servlet-class>com.page.controller.CheckServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckServlet</servlet-name>
		<url-pattern>/check.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>com.page.controller.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/order.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VerifyServlet</servlet-name>
		<servlet-class>com.page.controller.VerifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyServlet</servlet-name>
		<url-pattern>/verify.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>MultipleUpload</servlet-name>
		<servlet-class>MultipleUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MultipleUpload</servlet-name>
		<url-pattern>/multipleUpload.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ImageReader</servlet-name>
		<servlet-class>ImageReader</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageReader</servlet-name>
		<url-pattern>/ImageReader</url-pattern>
	</servlet-mapping>
	
	<filter>
	    <filter-name>DealerLogin</filter-name>
	    <filter-class>filters.DealerLogin</filter-class>
	 </filter>
	<filter-mapping>
	    <filter-name>DealerLogin</filter-name>
	    <url-pattern>/room/*</url-pattern>
	    <url-pattern>/hostel/hostelCalendar.jsp</url-pattern>
	    <url-pattern>/hostel/hostelManager.jsp</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>ERROR</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	    <dispatcher>ASYNC</dispatcher>
  	</filter-mapping>
	  <filter>
	    <filter-name>BackendFilter</filter-name>
	    <filter-class>filters.BackendFilter</filter-class>
	  </filter>
  <filter-mapping>
    <filter-name>BackendFilter</filter-name>
    <url-pattern>/backEnd/index.jsp</url-pattern>
    <url-pattern>/backEnd/user/dealerManager.jsp</url-pattern>
    <url-pattern>/backEnd/user/dealerProfile.jsp</url-pattern>
    <url-pattern>/backEnd/user/hostel.jsp</url-pattern>
    <url-pattern>/backEnd/user/tenant.jsp</url-pattern>
    <url-pattern>/backEnd/user/tenantProfile.jsp</url-pattern>
    <url-pattern>/backEnd/emp/empAddNew.jsp</url-pattern>
    <url-pattern>/backEnd/emp/empManager.jsp</url-pattern>
    <url-pattern>/backEnd/emp/empMyInfo.jsp</url-pattern>
    <url-pattern>/backEnd/emp/empProfile.jsp</url-pattern>
    <url-pattern>/backEnd/view/view.jsp</url-pattern>
    <url-pattern>/backEnd/view/newView.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>Ac9001Filter</filter-name>
    <filter-class>filters.Ac9001Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Ac9001Filter</filter-name>
    <url-pattern>/backEnd/emp/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ASYNC</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>Ac9002Filter</filter-name>
    <filter-class>filters.Ac9002Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Ac9002Filter</filter-name>
    <url-pattern>/backEnd/user/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ASYNC</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>Ac9003Filter</filter-name>
    <filter-class>filters.Ac9003Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Ac9003Filter</filter-name>
    <url-pattern>/backEnd/view/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ASYNC</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>Ac9004Filter</filter-name>
    <filter-class>filters.Ac9004Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Ac9004Filter</filter-name>
    <url-pattern>/backEnd/user/dealerManager.jsp</url-pattern>
    <url-pattern>/backEnd/user/dealerProfile.jsp</url-pattern>
    <url-pattern>/backEnd/user/hostel.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500.jsp</location>
  </error-page>
	
</web-app>